<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>error</title>

  </head>
  <body>
<form action="/addId" method="post">

    <h4>Please Add Your Robot Profile</h4>
        Username:<br>

        <input type="text" name="username" value=""><br>
        Email:<br>

        <input type="email" name="email" value=""><br>
        University:<br>

        <input type="text" name="university" value=""><br>
        Job:<br>

        <input type="text" name="job" value="">

        <button type="submit">Add Profile</button>

      </form>

  </body>
</html>
