<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="style.css">

  </head>

  <body>

    <h1>Index</h1>

    <ul class="wrapper">

      {{#users}}

      <li class="robotContainer">

        <img src="{{imageurl}}" alt="">

        <h3><a href="/userinfo/{{id}}">{{username}}</a></h3>

        <p class="job">{{job}}</p>

        <p class="company">{{company}}</p>

      </li>

      {{/users}}

    </ul>

  </body>

</html>
